﻿@model IEnumerable<ContactWeb.Models.Contact>

@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link type="text/css" rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
    <style type="text/css">
        .navbar-inverse {
            background-color: whitesmoke;
        }
    </style>

          }

<h5><b>@ViewData["Title"]</b></h5> @*ViewData["Title"] is set in the controller*@

<table class="table table-striped" id="listItems">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhonePrimary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneSecondary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                                                            " Edit"
                                                            , "Edit"
                                                            , (string)ViewContext.RouteData.Values["controller"]
                                                            , new
                                                            {
                                                                id = item.Id
                                                            }
                                                            , new
                                                            {
                                                                Class = "btn btn-link glyphicon glyphicon-pencil"
                                                                    ,
                                                                title = "Edit this record"
                                                            }
                                                            )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhonePrimary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneSecondary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>

            </tr>
        }
    </tbody>
</table>

@*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

@Html.Partial("_List")


@section Scripts {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@

    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listItems').DataTable();
        });
    </script>

}
